services:
  chroma:
    build:
      dockerfile_inline: |
        FROM python:3.12
        RUN pip install chromadb==1.0.4
        CMD ["chroma", "run", "--path", "/db", "--host", "0.0.0.0"]
        EXPOSE 8000
    ports:
      - 8000:8000
    volumes:
      - ./db:/db

  indexer:
    build:
      context: .
      dockerfile_inline: |
          FROM python:3.12
          RUN ls -l
          ADD requirements.txt /work/requirements.txt
          ADD indexer.py /work/indexer.py
          ADD client.properties /work/client.properties
          ADD sr.properties /work/sr.properties
          WORKDIR /work
          RUN pip install -r requirements.txt
          CMD ["/bin/sh" , "-c", "sleep 5 ; python indexer.py"]
    environment:
      CHROMA_HOST: chroma
      OPENAI_API_KEY: $OPENAI_API_KEY
      SHOP_BASE_URL: $SHOP_BASE_URL
    depends_on:
      - chroma
  api:
    build:
      dockerfile_inline: |
        FROM python:3.12
        RUN ls -l
        ADD requirements.txt /work/requirements.txt
        ADD api.py /work/api.py
        ADD client.properties /work/client.properties
        ADD sr.properties /work/sr.properties
        WORKDIR /work
        RUN pip install -r requirements.txt
        CMD ["/bin/sh" , "-c", "sleep 5 ; python api.py"]
    depends_on:
      - chroma
    container_name: api
    ports:
      - 8001:8001
    environment:
      CHROMA_HOST: chroma
      OPENAI_API_KEY: $OPENAI_API_KEY

  api-chat2:
    build:
      context: .
      dockerfile_inline: |
        FROM python:3.12
        WORKDIR /work
        COPY requirements.txt .
        RUN pip install --no-cache-dir -r requirements.txt
        COPY . .
        CMD ["/bin/sh", "-c", "find . -name '*.pyc' -delete && uvicorn chat_api:app --host 0.0.0.0 --port 8000"]
    container_name: api-chat2
    ports:
      - "8002:8000"
    volumes:
      - ./client.properties:/work/client.properties
      - ./sr.properties:/work/sr.properties
      - ./chat_api.py:/work/chat_api.py
    environment:
      CUSTOMER_QUESTIONS_TOPIC: 'customer_conversations'

