#chat {
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    position: fixed;
    width: 600px;
    height: 400px;

}

.openchat{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}